<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Interview</title>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="module.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<script type="text/javascript" src="directive.js"></script>
	<script type="text/javascript" src="service.js"></script>

</head>
<body ng-app="test" ng-controller="testController">
	<div class="content">
		<header class="controls-holder container">
			<div class="numbers-holder">
				<input type="number" placeholder="Min number" ng-model="minNumber" step="1">
				<input type="number" placeholder="Max number" ng-model="maxNumber" step="1">
			</div>
			<div class="buttons-holder">
				<button>Show all numbers</button>
				<button>Show even numbers</button>
				<button>Show odd numbers</button>
			</div>
		</header>
		<div class="results-space container">
			<div class="buttons-holder">
				<button>Display on the left</button>
				<button>Display on the right</button>
			</div>
		</div>

		<div class="list">
			<number-directive items="range"></number-directive>
			<!-- INSERT THE NUMBERS HERE. YOU ARE ALLOWED THE MODIFY OTHER PARTS OF THE CODE -->
		</div>
	</div>
</body>
</html>
